.clientWrapper {
  color: var(--first-color);
  padding: 1rem;
  margin: 1.2rem;
  width: 20%;
  border: 1px solid var(--first-color);
}

.clientWrapper h4 {
  margin-bottom: 0.4rem;
}

.clientWrapper p {
  color: var(--third-color);
  margin: 0;
  font-size: 1rem;
}

.clientWrapper button {
  border: none;
  border-radius: 0.3rem;
  background-color: var(--first-color);
  color: var(--fourth-color);
}
